html {
    background: url(
    https://i.pinimg.com/originals/71/98/24/719824569aa59094abbde2beb4fe840f.jpg
    ) no-repeat fixed center/cover;
    position: relative;
    overflow-y: scroll;
}

.circle {
    background-color: rgba(238, 0, 255, 0.07);
    width: 100px;
    height: 50px;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    position: absolute;
}


.head {
    display: grid;
    background: rgba(0, 0, 0, 0.85);
    grid-area: header;
    justify-items: stretch;

}


.scroll::-webkit-scrollbar {
    width: 20px;
}

.scroll::-webkit-scrollbar-track {
    background-color: rgba(253, 253, 253, 0.78);
    border-radius: 100px;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 80px;
    border: 6px ;
    border-left: 40px;
    border-right: 4px;
    background-color: rgba(231, 166, 159, 0.93);
}
.scroll{
    display: grid;
    grid-area: table;
    overflow-y:auto;
    height: 140vh;
    width: auto;
}
.labels {
    display: grid;
    grid-area: label;
}

.canvas {
    display: grid;
    grid-area: graphic;
}

.content {
    display: grid;
    justify-content: stretch;
    grid-template-columns: 1.5fr 2fr;
    grid-template-areas:
    "header header"
    "graphic table"
    "label  table"
}


.full_name, .attributes {

    padding: 0 15px;
    text-align: left;
    letter-spacing: 4px;
    font-size: 30px;
    color: rgb(239, 231, 218);
}


.attributes {
    text-decoration: none;
    color: rgba(243, 236, 236, 0.3);
    font-size: 15px;
    padding: 2px 15px;
}

.head:hover .attributes {
    display: block;
}

.normal {
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    margin: 10px 20px;
    position: relative;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.71);
    background: none;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 4px;
}

.warning {
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    margin: 10px 10px;
    position: relative;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.71);
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 4px;
    background-color: rgba(248, 160, 160, 0.78);

}

.error, .menu, .y {
    color: #f34848;
    font-weight: normal;
    font-family: 'Shadows Into Light', sans-serif;
    text-shadow: 0 1px 2px #000;
    background: rgba(0, 0, 0, 0.47);
    border-radius: 6px;
    margin: 8px 6px;
    letter-spacing: 2px;
    width: 400px;
}

.no-warning {
    background: none;
}

.checkbox {
    padding: 7px;
}

.y {

    grid-template-rows:50px;
    grid-template-columns: 110px 400px 300px;
    color: #e1e2ff;
    background: rgba(0, 0, 0, 0);
}

.r_group {
    padding: 0 0 0 7px;
}

.menu label:before {
    border-radius: 3px;
}

select.r {
    color: white;
    width: 70px;
    padding: 5px;
    background: rgba(38, 38, 38, 0.72);
    margin: 8px 6px;
}

.menu {
    background: rgba(0, 0, 0, 0);
    color: #acafe1;
    text-decoration: underline;
    letter-spacing: 4px;
}

.active, .no-active {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: 'Shadows Into Light', cursive, sans-serif;
    width: 80px;
    padding: 6px;
    border-radius: 6px;
    border: 2px solid rgba(161, 161, 161, 0.71);
    display: inline-block;
    margin: 8px 6px;
    background: #3b3939;
    text-shadow: 0 1px 3px #000;
}

.active:hover {
    background: #595656;
}

.no-active {
    background: #3b3939;
    cursor: url("https://img.icons8.com/office/0.5x/do-not-disturb.png"), default;
}


.graph {
    position: relative;
    margin: auto;
    width: 400px;
    height: 400px;
    color: #08fabc;
    outline: 15px solid rgba(117, 114, 114, 0.2);
    background: rgba(43, 43, 45, 0.38);
    border-radius: 5px;
    box-shadow: 0 0 50px 50px rgba(0, 0, 0, 0.3) inset;

}

.graph:hover {
    cursor: url("https://cdn.custom-cursor.com/db/13504/32/comics-and-books-captain-underpants-cursor.png") 4 0, auto;
}

.canvas {
    padding: 50px;
    background: rgba(7, 7, 7, 0.5);
}

.x {
    padding: 10px 0 5px 5px;
    top: 250px;
    grid-template-columns: 1.3fr 2fr 3fr;
}

.labels {
    top: 30px;
    background: rgba(0, 0, 0, 0.47);
}



.table {
    border-spacing: 4px 6px;
    background: rgba(0, 0, 0, 0.65);
    caption-side: bottom;
    text-align: right;
    letter-spacing: 1px;
    font-size: 18px;
    position: relative;
    width: border-box;
}
#head_table .cell {
    background: rgba(255, 251, 160, 0.98);
    border-radius: 4px;
    text-shadow: 0 1px 1px #2D2020;
    text-align: center;
    color: #0c0c0c;
    font-size: 19px;
    letter-spacing: 2px;
    position: center;
    margin: 5px;
    height: 40px;
}
.cell {
    display: table-cell;
    padding: 2px 20px 2px 20px;
    width: auto;
    border-radius: 3px;
    background: rgba(203, 158, 246, 0.98);
    text-shadow: 0 0.3px 0.3px #2D2020;
}


.table {
    display: table;
    overflow-y:scroll;
}

.row {
    display: table-row;
    width: auto;
    animation: nani 3.5s forwards;
}
@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
    0% {height: 5px;}
    100% {height: 30px;}
    0% {font-size: 0;}
    100% {font-size: medium;}
}@keyframes nani {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.new{
    animation: ani 2.5s forwards;
}
