html {
    background: rgba(170, 86, 204, 0.58);

}
.body__auth-container{
    z-index: 1;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    width: 300px;
    margin-top: 10px;
    background: rgba(3, 3, 3, 0.58);
}
.sat{
    margin-top: 2%;
}
img{
    width: 150px;
    height: 150px;
    display: block;
    margin-top: 1px;
    position: relative;


    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    animation: sheep 1.8s forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}
.run {
    animation-play-state: running;
}
#body__sheepAndThoughts_thoughts{
    font-size: 20px;
    position: relative;
    width: 200px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    background-color: #fff;
    border: 8px solid #605d7b;
    border-radius: 30px;


    animation: thought 0.01s forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}
#body__sheepAndThoughts_thoughts.run::after{
    content: "Caught me!!!";
    animation-play-state: running;
}
#body__sheepAndThoughts_thoughts.stop {
    animation: nnani 1.3s forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

.fog::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-image: url("../pictures/fog2.png") ;

}

@keyframes nnani {
    to{
        color: #ec7777;
    }
    from{
        color: #070707;
    }
}

p.run{
    border: 8px solid #f65252;
}
p.stop::after{
    content: "Click on sheep!!!";
}
p.stop{

}

@keyframes sheep {
    from {
        margin-left: 0;
        margin-top: 0;
    }
    15%{
        margin-top: -10%;
    }
    40%{
        margin-top: 0;
    }
    65%{
        margin-top: -10%;
    }

    to {
        margin-left: calc(100% - 200px);
        margin-top: 0;
    }

}
@keyframes thought {
    from {
        margin-left: 0.15%;
    }

    to {
        margin-left: 0;
    }

}

